<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Navegação</title>
    <!-- Adicione o link para o CSS do Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2 class="mb-4">Página de Navegação</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href={{url_for("cadUsuario")}}>Cadastro de Usuário</a>
                </li>
                <li class="list-group-item">
                    <a href="cadastro_categoria.html">Cadastro de Categoria</a>
                </li>
                <li class="list-group-item">
                    <a href="cadastro_anuncio.html">Cadastro de Anúncio</a>
                </li>
                <li class="list-group-item">
                    <a href="login.html">Login</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Adicione os links para os scripts do Bootstrap e do jQuery no final do body -->
<script src="https://code.jquery.com/jquery-3.5.1.slim
