<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erro 404 - Página não encontrada</title>
  <link rel="stylesheet" href="../../static/css/bootstrap.css">
</head>
<body class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <h1 class="display-1">404</h1>
    <p class="lead">Ops! Página não encontrada.</p>
    <p>A página que você está procurando não foi encontrada.</p>
    <a href="/" class="btn btn-primary">Voltar para a página inicial</a>
  </div>
</body>
</html>
